.container{
    padding: 30px;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: red;
}
#icon{
    height: 70px;
    width: 70px;
}


.titleAndIcon{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 300px;
    background-color: red;
}