*{
    box-sizing: border-box;
    padding: 0;
    top: 0;
    margin: 0;
}
@font-face {
    font-family: 'MentecFont';
    src: url('../../assets/fonts/eurostile.TTF');
    font-weight: normal;
}
  
:root{
    --color-1:#02072D;
    --color-white:white;
    --color-btn:#461F62;
    --text-color:white;
    --text-color1:black;
    --btn-color:#00BCD4;
    --bg-color:#02072D;
    --bg-color1:#A6192E;
    --bg-red1:#A6192E;
    --bg-background2:#910F25;
    --bg-red3:#770B1C;
    --bg-color2:#000434;
    --bg-color3:whitesmoke;
    --bg-azulteste:rgb(39, 22, 101);
    --bg-menu:#00013C;
    --bg-body:#1E1E1E;  
    --bg-btn1:#CA2F46;
    --bg-btn2:#a73142;

    --bg-main:white;

    --color-text:black;
    --text-color2:#A6192E;
}


.main{
    height: 100vh;
    width: 100%;
    background-color: #23244E;
}
.header{
    height: 5em;
    width: 100%;
    background-color: var(--bg-background2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
}
#title{
    font-family: 'MentecFont';
    font-size: 2.2em;
    color: white;
    font-weight: 200;
    text-decoration: none;
}
#cadBtn{
    outline: 0;
    border: 0;
    height: 40px;
    width: 250px;
    border-radius: 5px;
    cursor: pointer;
    background-color:var(--bg-btn1);
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em;
    
}

#bnts{
    width:30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    color: white;
    height: 100%;
}
#btnDark{
    cursor: pointer;
    transition: 0.5s;
}
#btnDark:hover{
    transform: rotateZ(-20deg);
}
/* .formBox{
    height: 100%;
    width: 70%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
    */
#form{
    height: 90%;
    width: 70%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 1em;  
    background:var(--bg-background2) ;

} 
 .inpt{
    width: 280px;
    height: 40px;
    border-top:0 ;
    border-left: 0;
    border-right: 0;
    background-color: transparent;
    outline: 0;
    padding: 0 5px;
    border-bottom: 1px solid white;
}
#title{
    color: white;
}
/*
.btn{
    width: 320px;
    height: 60px;
    border: 2px solid white;
    outline: 0;
    border-radius: 5px;
   
    transition: 0.5s;
    color: white;
    background-color: transparent;
    margin-top: 20px;
}

.loginBox{
    height: 100%;
    width: 30%;
    background-color: #000434;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
}
.logoBox{
    
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-direction: column;
}

.title{
    font-size: 50pt;
    font-weight: 500;
    color: white;
}
.sBtitle{

    font-size: 15pt;
    max-width: 210px;
    font-weight: 500;
    color: white;


}

.imgBook{
    height: 250px;
    width: 250px;
    user-select: none;
  

}
.btnCad{
    outline: 0;
    border:3px solid var(--color-white);
    background-color: transparent;
    border-radius: 16px;
    width: 200px;
    height: 70px;
    color: var(--color-white);
    font-family: 'MentecFont';
    font-weight: 500;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
} */

.formAndArt{
    height: calc(100vh - 5em);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formBox{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
}
.btn{
    background-color: var(--bg-btn2);
    border: 0;
    width: 50%;
    height: 10%;
    border-radius: 5px;
    color: white;
}