*{
    transition: 0.5s;
}
:root{
    --text-color:white;
    --text-color1:black;
    --btn-color:#00BCD4;
    --bg-color:#02072D;
    --bg-color1:#A6192E;
    --bg-red1:#A6192E;
    --bg-background2:#910F25;
    --bg-red3:#770B1C;
    --bg-color2:#000434;
    --bg-color3:whitesmoke;
    --bg-azulteste:rgb(39, 22, 101);
    --bg-menu:#00013C;
    --bg-body:#1E1E1E;  
    --bg-btn1:#CA2F46;
    --bg-btn2:#a73142;

    --bg-main:white;

    --color-text:black;
    --text-color2:#A6192E;
  }

.main{
    height: 100vh;
    width: 100%;
    user-select: none;
    background-color: var(--bg-main);

}
.headerDark{
    background-color: #271665;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    height: 5em;
    width: 100%;
}
.header{
    height: 5em;
    width: 100%;
    background-color: var(--bg-background2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
}

#title{
    font-family: 'MentecFont';
    font-size: 2.2em;
    color: white;
    font-weight: 200;
    text-decoration: none;
}
#cadBtn{
    outline: 0;
    border: 0;
    height: 40px;
    width: 250px;
    border-radius: 5px;
    cursor: pointer;
    background-color:var(--bg-btn1);
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 0.9em;
}
.formAndArt{
    height: calc(100vh - 5em);
    display: flex;
    justify-content: center;
    align-items: center;
}
.formBox{
    height: 100%;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.formLogin{
    height: 95%;
    width: 65%;
    background-color: var(--bg-background2);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
.formLogin p:nth-child(1){
    font-size: 18pt;
    font-weight: 100;
    color: white;
}
.formLogin p:nth-child(2){
    margin-left: -15%;
}
#textForgotPass{
    margin-left: 40%;
    margin-top: -5%;
    font-size: 1em;
    color: white;
    font-weight: 200;
}
.inptField{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.inptField label {
    position: absolute;
    top: 15%;
    left: 12%;
    pointer-events: none;
}
.inpt{
    display: block;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: 0;
    padding: 5px 10px;
    height: 30px;
    color: white;
    width: 75%;
    
}
.inptField input:focus ~ label,
.inptField input:not(:placeholder-shown) ~ label {
    margin-top: -15px;
    font-size: 10px;
}

.inpt::placeholder{
    color: white;
}

#formRow{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#formRow p{
    font-size: 10pt;
}
#btnLogin{
    height: 50px;
    width: 130px;
    background-color:var(--bg-btn2);
    border: 0;
    outline: 0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
#btnLogin:hover{
    background-color: rgb(202, 47, 70);
}
.artBox{
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#artImg{
    height: 65%;
    width: 55%;
}
#check{
    cursor: pointer;
}
#btnMs{
    width: 75%;
    height: 50px;
    background-color: white;
    border: 0;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s;
    cursor: pointer;

}
#btnMs:hover{
    background-color: #6b97c9;
    color: white;
}

#text{
    color: var(--color-text);
    height: 40%;
    width: 100%;
    display: flex;
    
    justify-content: center;

}
#text h3{
    font-size: 1.5em;
    width: 50%;
}
#text span{
    color: var(--text-color2);
}
#bnts{
    width:30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    color: white;
    height: 100%;
}
#btnDark{
    cursor: pointer;
    transition: 0.5s;
}
#btnDark:hover{
    transform: rotateZ(-20deg);
}
 
/* responsivo */

@media(max-width:768px){
    .artBox{
        display: none;
    }
    .formBox{
        width: 100%;
    }
    #bnts{
        width: 50%;

    }
    #cadBtn{
        width: 200px;
        font-size: 0.65em;
        padding: 15px 30px;
  
    }
    .formLogin{
        width: 75%;
    }
}