.menu{
    height: calc(100vh - 5em);
    width: 20%;
    background-color: purple;
    
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.imgUser{
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 50%;
}
.optBox{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.navOpt{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    color: white;
  
   
}

.navOpt ul{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
        
}
.navOpt ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14pt;
    gap: 20px;


}
.icon{
    height: 30px;
}