.CreateMentoring{
    height: 100vh;
}
#line_detail{
    height: 50px;
    width: 100%;
    background-color: #271665;
}
.titles_art{
    padding:30px 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.titles{
    height: 270px;
    width: 100%;
    background-color: #4C578F;
    color: white;
}
.link{
    text-decoration: none;
    color: white;
}

#hat{
    height: 325px;
    width:400px;
    margin-top: -70px;
    margin-right: -100px;
    position: relative;
    z-index: 2;
}

.next_btn:hover{
    transform: translateY(-3px);
}



textarea{
    resize: none;
    width: clamp(20px, 30vw, 370px);
    height: 170px;
    padding: 10px;
    border: 1px solid rgb(145, 145, 145);
    border-radius: 3px;
}





/* Forms */
form{
 
    height: 110%;
    width: 70%;
    
    position:relative;
    z-index: 0;
    border-radius: 10px;
    background-color: rgb(231, 231, 231);
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 2em;
}
.form_container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title_inpt{
    height: 50px;
    width: 40%;
    
}

.text_inpt{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    outline: 0;
    border: 1px solid #271665;
    padding: 0 10px;
    
}
.title_text_area{
    height: 150px;
    width: 83%;

}


#btn{
    height: 50px;
    width: 40%;
    background-color: #438649;
    color: white;
    border-radius: 5px;
    outline: 0;
    border: 0;
    transition: 0.5s;
}
#btn:hover{
    background-color: #70b476;
    cursor: pointer;
}
@media (max-width:768px){
    #hat{
        height: 200px;
        width:300px;
        margin-top: 50px;
        margin-right: 0px;
    }
    form{
        flex-direction: column;
    }
    .title_inpt{
        width: 80%;
    }
}   
