.container{
    display: flex;
    flex-direction: row;
    height: calc( 100vh - 5em);
}
.infoContainer{
    height: 100%;
    width: 80%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    justify-content: space-around;
    gap: 0.5em;

}
.infoRow{
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}
.box{
    /* background-color: purple; */
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(184, 184, 184);
    background-color: rgb(243, 243, 243);
}
.box:nth-child(1){
    height: 100%;
    width:70%;
}
.box:nth-child(2){
    height: 100%;
    width: 25%;
}