:root{
    --text-color:white;
    --text-color1:black;
    --btn-color:#00BCD4;
    --bg-color:#02072D;
    --bg-color1:#A6192E;
    --bg-red1:#A6192E;
    --bg-red2:#910F25;
    --bg-red3:#770B1C;
    --bg-color2:#000434;
    --bg-color3:whitesmoke;
    --bg-azulteste:rgb(39, 22, 101);
    --bg-menu:#00013C;
    --bg-body:#1E1E1E;
  }
.menu{
    background-color:  var(--bg-color);
    height: 100vh;
    width: 20%;
}