.contact{
    height: calc(100vh - 5em);
    width: 100%;
}
.mainLayout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.formBox{
    height: 500px;
    width: 700px;
    background-color: #ECECEC;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 4px 4px 10px rgb(184, 184, 184);
    border-radius: 10px;
    margin-left: 150px;
}

.info{
    height: 450px;
    width: 350px;
    background-color: var(--bg-azulteste);
    margin-left: -150px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(116, 116, 116);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 70px 0;
}
.rowInfo{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 25%;
    padding: 0 10px;
    align-items: center;
}
.rowInfo p{
    font-size: 12px;
    padding: 10px;
}
.subFormBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 100%;

  
}

.form{
    display: flex;
    height: 350px;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'MentecFont';
}

#title2, #title1{
    font-family: 'MentecFont';
}
#title1{
    color: white;
    font-size: 3em;
    margin-bottom: 50px;
}
#msContact{
    height: 40%;
    width: 100%;
    resize: none;
    border-radius: 10px;
    outline: 0;
    border:0;
    padding:  10px;

}
.inptContact{
    height: 45px;
    width: 100%;
    border-radius: 10px;
    outline: 0;
    border:0;
    padding: 0 10px;
}
#btnEnviar{
    background-color: var(--bg-azulteste);
    width: 30%;
    height: 12%;
    border-radius: 10px;
    color: white;
    outline: 0;
    border:0;
}
.form label{
    color: red;
    text-align: left;

    width: 100%;
}