.mentoring{
    height: calc(100vh - 5em);
    width: 100%;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: yellow;
}


.mainLayout{
        display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
    background-color: green;
    gap: 1em;
}
.row{
    height: 40%;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.row:nth-child(2){
    height: 60%;
    width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.row:nth-child(1) .info{
    background-color: white;
    height: 200px;
    width: 1300px;
    border-radius: 10px;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.row:nth-child(2) .info:nth-child(1){
    background-color: white;
    height: 70px;
    width: 950px;
    border-radius: 10px;
}

.row:nth-child(2) .info:nth-child(2){
    background-color: white;
    height: 230px;
    width: 950px;
    border-radius: 10px;
}
.row:nth-child(2){
    justify-content: space-around;
    align-items: center;
}
.info2{
    
    height: 320px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
}

.rowDown{
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 1300px;
    justify-content: space-around;
    gap: 50px;
    align-items: center;
}