


*{
    font-family: Arial, Helvetica, sans-serif;
}
.MyMentorships,.mentorshipsContainter{
    display: flex;

}
.mentorshipsContainter{
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 230, 230);
}
.myMentoringCard{
    height: 300px;
    width: 90%;
    background-color: rgb(236, 236, 236);
    border-radius: 15px;
    box-shadow: 4px 4px 10px rgb(182, 182, 182);
    display: flex;
    padding: 30px;

}

#btn_edit,#btn_delete{
    height: 50px;
    width: 120px;
    background-color: rgb(89, 89, 172);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    gap: 1em;
}
#btn_edit:hover,#btn_delete:hover{
    transform: translateY(-10px);
}
#btn_delete{
    background-color: rgb(223, 55, 55);

}
/* ~container de informalççoes */
.infoContainer, .btnBox{
    display: flex;
    
}
.infoContainer{
    width: 85%;
    height: 100%;

}   
.infoContainer img{
    height: 100%;
    width: 45%;
}
#description{
    height: 100%;
    width: 65%;
    padding: 10px;
}

.btnBox{
    width: 15%;
    height: 100%;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}