


*{
    font-family: Arial, Helvetica, sans-serif;
}
.MyMentorships,.mentorshipsContainter{
    display: flex;

}
.mentorshipsContainter{
    flex-direction: column;
    width: 85%;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 230, 230);
    gap:1em;
    margin-left: 15%;
    min-height: 100vh;
}
.myMentoringCard{
    height: 250px;
    width: 90%;
    background-color: rgb(236, 236, 236);
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(182, 182, 182);
    display: flex;
    padding: 30px;

}

#btn_edit,#btn_delete{
    height: 50px;
    width: 120px;
    background-color: rgb(89, 89, 172);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 0.5s;
    cursor: pointer;
    gap: 1em;
}
#btn_edit:hover,#btn_delete:hover{
    transform: translateY(-10px);
}
#btn_delete{
    background-color: rgb(223, 55, 55);

}
/* ~container de informalççoes */
.infoContainer, .btnBox{
    display: flex;
    
}
.infoContainer{
    width: 85%;
    height: 100%;

}   
.infoContainer img{
    height: 100%;
    width: 45%;
    border-radius: 5px;
}
#description{
    height: 100%;
    width: 65%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btnBox{
    width: 15%;
    height: 100%;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#description input{
    height: 30px;
    border-radius: 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: 0;
}

.inpt_box{
    height: 50px;
    width: 48%;
    background-color: var(--bg-azulteste);
    border-radius: 10px;
    display: flex;
    align-items: center;
   padding: 0 30px;

}
.inpt_box input{
    height: 50%;
    width: 80%;
    

}
.top_elements{
    width: 100%;

    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
}

.box_filter{
    height: 50px;
    width: 10%;
    border-radius: 10px;
    background-color: var(--bg-azulteste);
    color: white;
    padding: 0 10px;
}