
:root{
    --text-color:white;
    --text-color1:black;
    --btn-color:#00BCD4;
    --bg-color:#02072D;
    --bg-color1:#A6192E;
    --bg-red1:#A6192E;
    --bg-red2:#910F25;
    --bg-red3:#770B1C;
    --bg-color2:#000434;
    --bg-color3:whitesmoke;
    --bg-azulteste:rgb(39, 22, 101);
    --bg-menu:#00013C;
    --bg-body:#1E1E1E;
  }
.teacher_menu{
    height: 100vh;
    width: 15%;
    background-color: var(--bg-menu);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
}
.nav_menu, ul{
    display: flex;
    justify-content: center;
    width: 100%;
}
.nav_menu ul {
    flex-direction: column;
    gap: 2em;
}
.nav_menu ul li{
    color: white;   
    list-style: none;
    display: flex;
    margin: auto;
    gap: 2em;
    align-items: center;
    width: 80%;
}
.nav_menu ul li a{
    color: white;   
    text-decoration: none;
    font-weight: 300;
    font-size: 10pt;
}
.icon{
    height: 35px;
    width: 35px;    
}