.container{
    height: 100vh;
    width: 100%;
}
.card{
    height: 150px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(196, 196, 196);
}
.card:nth-child(1){
    background-color: #FFAB36;
}
.card:nth-child(2){
    background-color: #5EABEA;
}
.card:nth-child(3){
    background-color: #FFDD53;
}
.card:nth-child(4){
    background-color: #45B445;
}
.card:nth-child(5){
    background-color: #FF5151;
}
.btnBox{
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-around;
}

.cardMentor{
    height: 250px;
    width: 900px;
    border-radius: 10px;
    background-color: #F1F1F1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 4px 4px 15px rgb(161, 161, 161);
}
.colCard{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 33.3%;
}
.colCard{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 33.3%;
}
.colCard:nth-child(2){
   
    height: 100%;
    justify-content: space-around;
}
#imgBox{
    height: 230px;
    width: 230px;

 overflow: hidden;
}


#imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém proporção e preenche o contêiner */
    border-radius: 50%;
}
.infoField,.infoCol{
    display: flex;
}

.infoCol{
    flex-direction: column;
    height: 33.3%;
}
.icon{
    height: 100%;
    width: 25%;

}
