*{
    box-sizing: border-box;
    padding: 0;
    top: 0;
    margin: 0;
}
@font-face {
    font-family: 'MentecFont';
    src: url('../../assets/fonts/eurostile.TTF');
    font-weight: normal;
}
  
:root{
    --color-1:#02072D;
    --color-white:white;
    --color-btn:#461F62;
}


.main{
    height: 100vh;
    width: 100%;
    background-color: red;
}