#title{
    font-size: 4em;
}
.notFound{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
}
#btnBack{
    width: 200px;
    height: 50px;
    background-color: var(--bg-azulteste);
    border-radius: 10px;
    border: 0;
    outline: 0;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 0.5em;
}